<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME </title>
    <link rel="stylesheet" href="liste_employe.css">
</head>
<body>
    <div class="container">
        <div class="navigation">
            <ul>
                <li>
                    <a href="#">
                        <span class="icon">
                        <ion-icon name="clipboard-outline"></ion-icon>
                        </span>
                        <span class="title">Welcome to your Dashbored </span>
                    </a>
                </li>

                <li>
                    <a href="liste_employe.php">
                        <span class="icon">
                        <ion-icon name="home-outline"></ion-icon>
                        </span>
                        <span class="title">User Management</span>
                    </a>
                </li>

                <li>
                    <a href="inscription_admin.html">
                        <span class="icon">
                            <ion-icon name="people-outline"></ion-icon>
                        </span>
                        <span class="title">ADD User</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="chatbubble-outline"></ion-icon>
                        </span>
                        <span class="title">Messages</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="help-outline"></ion-icon>
                        </span>
                        <span class="title">Help</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="settings-outline"></ion-icon>
                        </span>
                        <span class="title">Settings</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                        </span>
                        <span class="title">Password</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <span class="icon">
                            <ion-icon name="log-out-outline"></ion-icon>
                        </span>
                        <span class="title">Sign Out</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="container">
            <h2>Inscription</h2>
            <form action="../View/inscription_admin.php" method="post" onsubmit="return valid_password() && validateNumberLength()">
                <label for="id">identité :</label>
                <input type="text" id="id" name="id" placeholder="Entrez votre identité" required>
        
                <label for="nom">Prénom :</label>
                <input type="text" id="nom" name="nom" placeholder="Entrez votre prénom" required>
        
                <label for="prenom">Nom :</label>
                <input type="text" id="prenom" name="prenom" placeholder="Entrez votre nom" required>
        
                <label for="adresse">Adresse :</label>
                <input type="text" id="adresse" name="adresse" placeholder="Entrez votre adresse" required>
        
                <label for="email">Adresse e-mail :</label>
                <input type="email" id="email" name="email" placeholder="Entrez votre adresse e-mail" required>
        
                <label for="password">Mot de passe :</label>
                <input type="password" id="password" name="password" placeholder="Entrez votre mot de passe" required>
            
                <label for="password1">Vérifier Mot de passe :</label>
                <input type="password" id="password1" name="password1" placeholder="Entrez votre mot de passe" required>
        
                <label for="telephone">Téléphone :</label>
                <input type="tel" id="telephone" name="telephone" placeholder="Entrez votre numéro de téléphone" required>
        
                <label for="num_passport">Numéro de passeport :</label>
                <input type="text" id="num_passport" name="num_passport" placeholder="Entrez votre numéro de passeport" required>
        
        
                <label for="image">Numéro de passeport :</label>
                <input type="file" id="image" name="image" placeholder="Entrez votre numéro de passeport" required>
        
                <label for="genre">Genre :</label>
                <select id="genre" name="genre" required>
                    <option value="homme">Homme</option>
                    <option value="femme">Femme</option>
                    <option value="autre">Autre</option>
                </select>
                <label for="pays">Pays :</label>
                <select name="pays" id="pays">
                    <option value="">Sélectionnez un pays</option>
                    <option value="Tunisie">Tunisie</option>
                    <option value="Maroc">Maroc</option>
                    <option value="Algérie">Algérie</option>
                </select>
            
                <input type="submit" value="S'inscrire">
            </form>
        </div>
</body>
</html>